/* Properties related to font are usually inherited,
so we set these in the body */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400; /* normal */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* fix the shaking up/down in animations.
  no one knows why shaking happens or why this fixes it */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    /* Spans are inline elements by default, but we want
    our main and sub to be block so they get their own line
    and take up full width available to them */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
  
    animation-name: moveInFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  
    /* other anim props we could use:
    animation-iteration-count: 3;
    animation-delay: 3s; */
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
  
    /* shorthand for name, duration, timing */
    animation: moveInFromRight 1s ease-out;
  }
}