/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* By default, browsers apply some margin
or padding. We set these to 0 to ensure the
same starting point for all browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Properties related to font are usually inherited,
so we set these in the body */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400; /* normal */
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  /* First bg image goes on top of second */
  background-image: linear-gradient(
    to right bottom,
  rgba(126, 213, 111, 0.8),
  rgba(40, 180, 133, 0.8)),
  url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  /* Remove part of the box. what we pass to polygon is what's drawn.
  Coordinates given are for top left, tr, br, bl corners of our shape.
  The grid is the element this is in (header here). x increases to right
  and y increases down, so 0 0 is top left corner of element*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}